body {
    background-image: url('../images/fundo.png');
    padding: 20px;
    font: 16px Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
}

#principal {
    width: 900px;
}

#menu ul {
    margin: 0px;
    list-style: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 20px;
    background-color: #c5c5b2;
}

#menu ul li {
    display: inline;
    padding-left: 20px;
}

.corpo {
    background-color: white;
    padding: 10px;
}

.corpo h2 {
    color: #828271;
    font-size: 1.2em;
}

.corpo img {
    background-color: #d3d3bc;
    padding: 10px;
}

#rodape {
    margin-top: 10px;
    width: 900px;
    text-align: center;
    font-weight: bold;
}

.img-campanha {
    border: 10px solid #c3c3ae; 
}